<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<header>
  <nav>
    <a href="/"><img src="/images/ombudsmanden.png" alt="Ombudsmanden"></a>
  </nav>
</header>


<form action="/signin" method="post">
  <label for="username">Username</label>
  <input id="username" name="username" type="text" required>
  <label for="password">Password</label>
  <input id="password" name="password" type="password" required>
  <button type="submit">Login</button>
</form>
</body>
</html>